<table mdbTable small="true" class="my-4">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let item of items">
        <th scope="row">{{item.productname}}</th>
        <td>{{item.price}}</td>
        <td><input type="number" min="1" value="{{value[item.id]}}" disabled>
          <button class="btn grey-text" (click)="up(item.id)">+</button>
          <button class="btn brown-text" (click)="down(item.id)">-</button>
          
        </td>
        <td>{{item.price* value[item.id]}}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        
        <td><Strong>Total</Strong> :{{Total()}}</td>
      </tr>
    </tbody>
    
  </table>

  <div>
    <a routerLink="/check-out" role="button" class="btn btn-primary">Check Out</a>
    <button (click)="clearcart()" class="btn btn-primary float-right">Clear Cart</button>
  </div>